@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* Color Theme */
  --foreground: #d9e5f2;
  --foreground-light: white;
  --border: #313232;
  --background: #1b1c1d;
  --background-light: #242424;
  --background-alt: #242628;
  --foreground-dimmed: #667f99;
  --magenta-light: #edabe8;
  --blue-light: #56b0f0;
  /* Miniflux */
  --body-color: var(--foreground);
  --body-background: var(--background);
  --hr-border-color: var(--border);
  --title-color: var(--foreground-light);
  --link-color: var(--foreground);
  --link-focus-color: var(--foreground);
  --link-hover-color: var(--foreground-light);
  --link-visited-color: var(--magenta-light);
  --header-list-border-color: var(--border);
  --header-link-color: var(--foreground);
  --header-link-focus-color: var(--foreground-light);
  --header-link-hover-color: var(--foreground-light);
  --header-active-link-color: var(--blue-light);
  --page-header-title-color: var(--foreground-light);
  --page-header-title-border-color: transparent;
  --logo-color: var(--foreground);
  --logo-hover-color-span: initial;
  --table-border-color: var(--border);
  --table-th-background: #333;
  --table-th-color: #aaa;
  --table-tr-hover-background-color: #333;
  --table-tr-hover-color: #aaa;
  --button-primary-border-color: var(--border);
  --button-primary-background: var(--background-alt);
  --button-primary-color: var(--foreground);
  --button-primary-focus-border-color: var(--border);
  --button-primary-focus-background: var(--background-light);
  --input-border: 1px solid var(--border);
  --input-background: var(--background-light);
  --input-color: var(--foreground);
  --input-placeholder-color: var(--foreground-dimmed);
  --input-focus-color: #efefef;
  --input-focus-border-color: rgba(82, 168, 236, 0.8);
  --input-focus-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  --alert-color: #efefef;
  --alert-background-color: #333;
  --alert-border-color: #444;
  --alert-success-color: #efefef;
  --alert-success-background-color: #333;
  --alert-success-border-color: #444;
  --alert-error-color: #efefef;
  --alert-error-background-color: #333;
  --alert-error-border-color: #444;
  --alert-info-color: #efefef;
  --alert-info-background-color: #333;
  --alert-info-border-color: #444;
  --panel-background: #333;
  --panel-border-color: #555;
  --panel-color: #9b9b9b;
  --pagination-link-color: #aaa;
  --pagination-border-color: #333;
  --category-color: var(--foreground-dimmed);
  --category-background-color: var(--background-light);
  --category-border-color: var(--border);
  --category-link-color: #999;
  --category-link-hover-color: #aaa;
  --item-border-color: var(--border);
  --item-padding: 12px;
  --item-title-link-font-weight: 400;
  --item-status-read-title-link-color: #666;
  --item-status-read-title-focus-color: rgba(82, 168, 236, 0.6);
  --item-meta-focus-color: var(--foreground-dimmed);
  --item-meta-li-color: var(--border);
  --current-item-border-width: 2px;
  --current-item-border-color: rgba(82, 168, 236, 0.8);
  --current-item-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  --entry-header-border-color: #333;
  --entry-header-title-link-color: #bbb;
  --entry-content-color: #999;
  --entry-content-code-color: #fff;
  --entry-content-code-background: #555;
  --entry-content-code-border-color: #888;
  --entry-content-quote-color: #777;
  --entry-content-abbr-border-color: #777;
  --entry-content-aside-border-color: #777;
  --entry-enclosure-border-color: #333;
  --parsing-error-color: #eee;
  --feed-parsing-error-background-color: #3a1515;
  --feed-parsing-error-border-style: solid;
  --feed-parsing-error-border-color: #562222;
  --feed-has-unread-background-color: #1b1a1a;
  --feed-has-unread-border-style: solid;
  --feed-has-unread-border-color: rgb(33 57 76);
  --category-has-unread-background-color: #1b1a1a;
  --category-has-unread-border-style: solid;
  --category-has-unread-border-color: rgb(33 57 76);
  --keyboard-shortcuts-li-color: #9b9b9b;
  --counter-color: #bbb;
}

a {
  text-decoration: none;
}

/* Header */

.header :is(a, summary) {
  display: flex;
  gap: 0.1rem;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.header li {
  display: flex;
}

.header ul:not(.js-menu-show),
.header ul.js-menu-show {
  display: flex;
  gap: 8px;
}

.header li a:hover {
  color: var(--foreground);
}

fieldset,
select {
  border: 1px solid var(--border);
  border-radius: 4px;
}

select {
  margin: 0.5rem 0;
  font-size: 12px;
  color: var(--foreground);
}

label {
  font-size: 12px;
  color: var(--foreground-dimmed);
}

.page-header h1 {
  border: none;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

/* Item Lists */

.items {
  display: flex;
  flex-direction: column;
  --space: 8px;
  /* gap: var(--space); */
  padding: var(--space);
}

.item {
  border: none;
  border-bottom: 1px solid var(--border);
  margin: 0;
  padding: 16px 0;
}

article.feed-has-unread,
article.feed-parsing-error {
  border: none;
}

/* Item Content */

.item-meta-info li:not(:last-child):after {
  content: " | ";
}

.item-meta a {
  color: var(--item-meta-focus-color);
}

.item-meta-info {
  font-size: 12px;
}

.item-meta-icons li > :is(a, button) {
  color: var(--foreground);
  font-size: 12px;
}

.item-meta :is(a:is(:focus, :hover), button:is(:focus, :hover)) {
  color: var(--foreground-dimmed);
  font-size: 12px;
}

.item-meta-icons a span {
  text-decoration: none;
}

/* Buttons */

.button {
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 4px;
}

/* Pagination */

.pagination {
  font-size: 12px;
}
